.portfolio {
  background-size: cover;
  background-position: center center;
  min-height: 100vh;

  .nav {
    padding: 1em 0 2em;
    text-align: center;
  }

  .content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;

    p {
      padding: 0;
      margin: 0;
    }

    img {
      max-width: 100%;
    }

    iframe {
      width: 90vw;
      height: 50.625vw;
      max-width: 800px;
      max-height: 450px;
    }
  }
}
