nav {
	@extend %transition-long;
	color: $color-white;
	height: 100vh;
	left: 2%;
	position: fixed;
	top: 0;
	transition-property: opacity;
	width: 40px;
	z-index: 99;

	.nav__main {
		box-sizing: border-box;
		height: 100vh;
		padding: 40px 0;
		position: relative;

		.nav__logo {
			@extend %transition-long;
			margin-bottom: 5vh;
			position: absolute;
			transition-property: opacity;
			width: 40px;
		}

		.nav__items {
			position: absolute;
			top: 50%;
			transform: translate(-15px, -50%);

			.nav__item {
				@extend %transition-long;
				display: block;
				color: $color-white;
				cursor: pointer;
				font-family: $druk-thin-condensed;
				font-size: 1.5em;
				font-style: italic;
				letter-spacing: 0.2em;
				margin: 90px 0;
				text-decoration: none;
				transform: rotate(90deg);
				transition-property: color;
			}
		}

		.nav__white-rabbit__image {
			bottom: 50px;
			cursor: pointer;
			left: 2%;
			position: absolute;
			width: 30px;
		}
	}

	.nav__logo-alt {
		opacity: 0;
	}

	&.color-alt {
		.nav__main .nav__items .nav__item  {
			color: $color-black;
		}
	}

	&.logo-alt {
		.nav__logo-main {
			opacity: 0;
		}

		.nav__logo-alt {
			opacity: 1;
		}
	}
}