.about {
	background: black;
	display: block;
	height: 100vh;
	overflow: scroll;
	width: 100vw;

	.about__main {
		display: block;
		height: 100vh;
		overflow: scroll;
		text-align: center;
		width: 100%;

		.about__container {
			color: $color-white;
			display: block;
			height: 100vh;
			margin: 0 auto;
			text-align: center;
			transition: opacity 1s ease-out;
			width: 70%;
			animation: scroll 270s linear infinite;

			@include tablet {
				width: 50%;
			}

			&:hover {
				animation-play-state: paused;
			}

			.about__text {
				h2 {
					font-family: $druk-wide;
					font-size: 1.3em;
					hyphens: auto;
					margin: 0;
					word-wrap: break-word;

					@include tablet {
						font-size: 2.8em;
					}
				}

				h3 {
					font-family: $druk-wide;
					font-size: 1.2em;
					hyphens: auto;
					margin: .6em auto 0 auto;
					word-wrap: break-word;

					@include tablet {
						font-size: 1.5em;
					}
				}

				p {
					margin: 0;
					font-family: $anonymous;

					&.p1 {
						margin: 0 auto 2em 0;
					}
				}
			}
		}

		.about__clients-header {
			font-family: $druk-wide;
			font-size: 1.5em;
			margin: 60px 0 10px 0;
		}

		.about__clients {
			margin: 0 0 100px 0;

			.about__client img {
				display: inline-block;
				margin: 40px 4%;
				max-height: 70px;
				width: 42%;

				@include tablet {
					display: inline-block;
					margin: 40px 2%;
					max-width: 100%;
					width: 20%;
				}
			}
		}
	}
}

@-webkit-keyframes scroll {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-2910%); }
}

@-moz-keyframes scroll {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-2910%); }
}