nav {
	color: $color-white;
	transition: opacity 1s ease-in;

	.nav__main {
		box-sizing: border-box;
		left: 0;
		padding: 20px;
		position: fixed;
		transition: opacity 1s ease-in;
		width: 100vw;
		z-index: 201;

		@include tablet {
			padding: 40px;
			z-index: 99;
		}

		.nav__logo {
			@extend %transition-long;
			margin-bottom: 5vh;
			position: absolute;
			transition-property: opacity;
			width: 40px;
			z-index: 23;
		}

		.nav__items {
			position: absolute;
			height: 100vh;
			background: rgba(0,0,0,0.9);
			padding: 30vh 0;
			top: 0;
			right: 0;
			width: 100%;
			transition: opacity .4s ease-out;

			@include tablet {
				background: transparent;
				height: auto;
				padding: 0;
				right: 5%;
				text-align: right;
				top: 40px;
			}

			.nav__item {
				@extend %transition-long;
				color: $color-black;
				display: block;
				text-shadow:
			   -1px -1px 0 $color-white,
			    1px -1px 0 $color-white,
			    -1px 1px 0 $color-white,
			     1px 1px 0 $color-white;
				cursor: pointer;
				font-family: $druk-condensed;
				font-size: 4em;
				letter-spacing: 0.1em;
				margin: -11px 0;
				text-align: center;
				text-decoration: none;
				transition-property: color;

				@include tablet {
					color: $color-white;
					display: inline-block;
					font-family: $druk-wide;
					font-size: .7em;
					margin: auto auto auto 30px;
					text-shadow: none;
				}

				&.active,
				&:hover {
					color: $color-white;
					text-shadow:
						-1px -1px 0 $color-black,
						1px -1px 0 $color-black,
						-1px 1px 0 $color-black,
						1px 1px 0 $color-black;

					@include tablet {
						border-bottom: 2px solid $color-white;
						text-shadow: none;
					}
				}
			}
		}

	}

	.nav__socials {
		bottom: 40px;
		cursor: pointer;
		position: fixed;
		left: 50%;
		right: auto;
		text-align: center;
		transform: translateX(-50%);
		transition: opacity .5s ease-out;
		width: 200px;

		@include tablet {
			bottom: 40px;
			left: auto;
			right: -2%;
			transform: none;
		}

		a {
			color: $color-white;
			margin-left: 10px;
			text-decoration: none;
		}

		&.no-opacity {
			opacity: 0;
			pointer-events: none;
		}
	}

	.nav__white-rabbit {
		transition: opacity .4s ease-out;

		&.mobile-only {
			.nav__white-rabbit__image {
				bottom: 17vh;
				display: block;

				@include tablet {
					display: none;
				}
			}
		}
	}

	.nav__white-rabbit__image {
		bottom: 25vh;
		cursor: pointer;
		left: 50%;
		position: fixed;
		transition: transform .5s ease-out;
		transform: translateX(-50%);
		width: 30px;

		@include tablet {
			bottom: 50px;
			left: 2%;
			transform: none;
		}

		&.rotate {
			transform: rotate(180deg);
		}
	}
}

.hamburger {
	right: 20px;
	position: fixed;
	top: 27px;
	height: 25px;
	width: 35px;
	margin: 0;
	padding: 0;
	z-index: 22;

	.nav-icon {
		width: 35px;
		height: 25px;
		position: relative;
		margin: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: $color-white;
			border-radius: 1px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}
		
		span:nth-child(1) {
			top: 0px;
		}
		
		span:nth-child(2),
		span:nth-child(3) {
			top: 12px;
		}
		
		span:nth-child(4) {
			top: 24px;
		}
		
		&.open span:nth-child(1) {
			top: 12px;
			width: 0%;
			left: 50%;
		}
		
		&.open span:nth-child(2) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		
		&.open span:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		
		&.open span:nth-child(4) {
			top: 12px;
			width: 0%;
			left: 50%;
		}
	}
	
}