nav {
	color: $color-white;
	transition: opacity 1s ease-in;

	.nav__main {
		box-sizing: border-box;
		left: 0;
		padding: 40px;
		position: fixed;
		transition: opacity 1s ease-in;
		width: 100vw;
		z-index: 99;

		.nav__logo {
			@extend %transition-long;
			margin-bottom: 5vh;
			position: absolute;
			transition-property: opacity;
			width: 40px;
		}

		.nav__items {
			position: absolute;
			right: 5%;
			top: 40px;

			.nav__item {
				@extend %transition-long;
				display: inline-block;
				color: $color-white;
				cursor: pointer;
				font-family: $druk-wide;
				font-size: .7em;
				letter-spacing: 0.1em;
				margin-left: 30px;
				text-decoration: none;
				transition-property: color;

				.active,
				&:hover {
					border-bottom: 2px solid $color-white;
				}
			}
		}

	}

	.nav__socials {
		bottom: 40px;
		cursor: pointer;
		position: fixed;
		right: -2%;
		width: 200px;

		a {
			color: $color-white;
			margin-left: 10px;
			text-decoration: none;
		}
	}

	.nav__white-rabbit__image {
		bottom: 50px;
		cursor: pointer;
		left: 2%;
		position: fixed;
		transition: transform .5s ease-out;
		width: 30px;

		&.rotate {
			transform: rotate(180deg);
		}
	}
}