.home {
	background: $color-black;
	height: 500vh;

	@include tablet {
		height: 500vh;
	}

	#intro-indicator {
		position: absolute;
		top: 460px;
	}

	.intro__bg {
		background-color: transparent;
		height: 100vh;
		position: fixed;
		width: auto;
		z-index: 8;

		@include tablet {
			height: auto;
			right: 0;
			width: 100vw;
		}

		.intro__image,
		.intro__video {
			height: 110vh;
			position: fixed;
			left: 50%;
			top: 0;
			transform-origin: 0 0;
			transition: opacity .5s ease-out;
			transform: translate3d(-50%, 0, 0);
			z-index: 0;

			@include tablet {
				height: auto;
				right: 0;
				width: 100vw;
			}
		}

		.intro__video {
			width: 150vw;

			@include tablet {
				width: 100vw;
			}
		}

		.intro__gradient {
			height: 150vh;
		    mix-blend-mode: multiply;
			position: fixed;
			top: 0;
			transform-origin: 50% 0;
			width: 100vw;
			z-index: 1;
		}
	}


	.intro {
		@extend %transition-long;
		height: 100vh;
		position: fixed;
		transition-property: opacity;
		width: 100vw;
		z-index: 8;

		.intro__container {
			height: 100vh;
			position: relative;
			width: 100vw;
			z-index: 1;
		}

		.intro__text {
			backface-visibility: hidden;
			font-family: $druk-condensed;
			font-size: .1em;
			font-weight: bold;
			left: 50%;
			line-height: 1.5em;
			max-width: 400px;
			position: absolute;
			top: 50%;
			text-align: justify;
		    -moz-text-align-last: center;
		    text-align-last: center;
			transform: translate3d(-50%, -50%, 0) scale(30);
			transition: opacity 0.7s ease-out, transform 0.3s ease-out;
			-webkit-font-smoothing: antialiased;

			@include tablet {
				font-size: 1em;
			}

			&.no-opacity {
				opacity: 0;
			}

			p {
				color: transparent;
				-webkit-text-stroke-width: .01em;
				-moz-text-stroke-width: .01em;
				-webkit-text-stroke-color: white;
				-moz-text-stroke-color: white;
			}
		}

	}

	.intro__scroll-down {
		@extend %transition-long;
		bottom: 5vh;
		color: $color-white;
		cursor: pointer;
		font-family: $druk-wide;
		font-size: .7em;
		left: 50%;
		letter-spacing: 0.1em;
		position: fixed;
		text-align: center;
		transform: translateX(-50%);
		transition-property: opacity, color;
		width: 100%;
		z-index: 99;

		&.transparent {
			color: transparent;
		}

		@include tablet {
			bottom: 50px;
			left: 0;
			font-size: 0.8em;
		}
	}

	.blotch {
		@extend %transition-long;
		border-radius: 50%;
		width: 20vw;
		display: block;
		height: 30vh;
		left: 0;
		opacity: .8;
		position: absolute;
		top: 200vh;
		transition-property: opacity;
		z-index: 8;

		&.no-opacity {
			opacity: 0;
		}

		@include tablet {
			width: 10vw;
		}
	}

	#services-indicator {
		position: absolute;
		top: 3700px;
	}

	.services {
		@extend %transition-long;
		background: transparent;
		height: 100vh;
		position: fixed;
		top: 0;
		transition-property: opacity;
		width: 100vw;
		z-index: 98; 

		.services-container {
			box-sizing: border-box;
			height: 100vh;
			font-size: 10vw;
			left: 50%;
			line-height: .9;
			position: absolute;
			top: 50%;
			overflow: visible;
			padding: 30vh 0 0 10vw;
			text-align: left;
			transform: translate(-50%, -50%);
			width: 100vw;
			z-index: 1;

			@include tablet {
				font-size: 80px;
				padding: 0 0 0 10vw;
			}

			span {
				position: relative;
				z-index: 100;
			}
		}

		.services__text {
			color: $color-white;
			display: inline-block;
			font-family: $druk-condensed;
			padding-top: 20px;
			text-align: left;
			text-decoration: none;
			text-transform: uppercase;

			p {
				margin: 0;
			}

			.services__text-main {
				em {
					cursor: default;
					font-style: normal;
				}
			}
		}

	}

	#work {
		position: absolute;
		top: 3200px;
	}

	.projects__hidden-bg {
		height: 100vh;
		left: -99999%;
		position: fixed;
		width: 100vw;
	}

	.projects {
		@extend %transition-long;
		background: $color-black;
		height: 100vh;
		position: fixed;
		top: 0;
		transition-property: opacity;
		width: 100vw;
		z-index: 5;

		.selected-works {
			@extend %transition-long;
			color: $color-white;
			font-family: $druk-wide;
			font-size: .8em;
			left: 50%;
			pointer-events: none;
			position: fixed;
			text-transform: uppercase;
			top: 15vh;
			text-align: center;
			transform: translateX(-50%);
			transition-property: opacity;
			width: 100%;
			z-index: 100;

			@include tablet {
				top: 60px;
			}
		}

		.projects__container {
			@extend %transition-long;
			background: $color-black;
			height: 100vh;
			overflow: hidden;
			position: relative;
			text-align: center;
			top: 0;
			transition-property: opacity;
			width: 100vw;
			z-index: 1;

			.projects__marquee-box {
				display: none;
				height: 6vh;
				overflow: hidden;

				@include tablet {
					height: 14vh;
				}

				.projects__marquee {
					z-index: 1;
				}

				&:nth-of-type(1) {
					display: block;

					.projects__marquee {
						top: 20vh;
						animation: marquee 25s linear infinite;

						@include tablet {
							top: 12vh;
						}
						a {
							animation-delay: 0s;
							float: left;
						}
					}
				 }

				 &:nth-of-type(2) {
					 display: block;

					 .projects__marquee {
						top: 26vh;
						 animation: marqueeRight 19s linear infinite;

						  @include tablet {
							top: 24vh;
						}
						a {
							animation-delay: .2s;
							float: right;
						}
					 }
				 }

				 &:nth-of-type(3) {
					 display: block;

					 .projects__marquee {
						top: 32vh;

						animation: marquee 28s linear infinite;

						@include tablet {
							top: 36vh;
						}
						a {
							animation-delay: .4s;
							float: left;
						}
					 }
				 }

				 &:nth-of-type(4) {
					 display: block;

					 .projects__marquee {
						top: 38vh;
						animation: marqueeRight 32s linear infinite;

						@include tablet {
							top: 48vh;
						}
						a {
							animation-delay: .6s;
							float: right;
						}
					 }
				 }

				 &:nth-of-type(5) {
					 display: block;

					 .projects__marquee {
						top: 44vh;
						animation: marquee 28s linear infinite;

						@include tablet {
							top: 60vh;
						}
						a {
							animation-delay: .8s;
							float: left;
						}
					 }
				 }

				 &:nth-of-type(6) {
					 display: block;

					 .projects__marquee {
						top: 50vh;
						animation: marqueeRight 32s linear infinite;

						@include tablet {
							top: 72vh;
						}
						a {
							animation-delay: 1s;
							float: right;
						}
					 }
				 }
			}

			.projects__marquee {
				display: block;
				font-family: $druk-wide;
				font-size: 6vh;
				overflow: hidden;
				position: absolute;
				height: 8vh;
				overflow: hidden;
				width: 1600vw;

				@include tablet {
					font-size: 14vh;
					height: 14vh;
				}


				a {
					transition-property: color;
					cursor: pointer;
					height: 6vh;
					overflow: hidden;
					text-decoration: none;
					width: 800vw;

					@include tablet {
						height: 14vh;
					}

					span {
						@extend %transition-long;
						overflow: hidden;
						transition-property: color;
						white-space: nowrap;
						color: transparent;
						-webkit-text-stroke-width: .01em;
						-moz-text-stroke-width: .01em;
						-webkit-text-stroke-color: white;
						-moz-text-stroke-color: white;

						&:hover {
							color: $color-white;
						}
					}
				}
			}
		}

		.filter-trigger {
			bottom: 15vh;
			color: $color-white;
			cursor: pointer;
			font-family: $druk-wide;
			font-size: .8em;
			left: 50%;
			position: fixed;
			transform: translateX(-50%);
			width: 100%;
			z-index: 100;

			@include tablet {
				bottom: 50px;
			}
		}

		.projects__bg {
			@extend %transition-long;
			background-size: cover;
			background-position: 50% 50%;
			height: 100vh;
			left: 0;
			opacity: .4;
			pointer-events: none;
			position: absolute;
			top: 0;
			transition-property: opacity;
			width: 100vw;
		}
	}

	.filter.modal {
		box-sizing: border-box;
		color: $color-white;
		left: 50%;
		position: fixed;
		max-width: 1200px;
		padding: 30px;
		top: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		transition: opacity 1s ease-out;
		width: 100%;
		z-index: 202;

		h4 {
			font-family: $druk-wide;
			font-size: 1em;

			@include tablet {
				font-size: 1em;
			}
		}

		a {
			box-sizing: border-box;
			color: $color-white;
			display: inline-block;
			font-family: $druk-wide;
			font-size: .8em;
			line-height: 1.8;
			margin: 3px 7px;
			text-decoration: none;
			text-transform: uppercase;
			width: 100%;

			@include tablet {
				font-size: .8em;
				line-height: 1.2;
				margin: 8px 15px;
				width: auto;
			}

			span {
				display: block;

				@include tablet {
					display: inline-block;
				}
			}
		}
	}

	.modal-close {
		@extend %transition-long;
		color: $color-white;
		cursor: pointer;
		font-size: 3em;
		position: fixed;
		right: 24px;
		top: 10px;
		transition-property: opacity;
		z-index: 203;

		@include tablet {
			right: 32px;
			top: 20px;
		}
	}

	.modal-mask {
		background: rgba(0,0,0,.85);
		height: 100vh;
		position: fixed;
		transition: opacity 1s ease-out;
		width: 100vw;
		z-index: 201;
	}

	.nav__white-rabbit.mobile-only {
		bottom: 23vh;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);

		img {
			width: 40px;
		}
	}

	.nav__socials.mobile-only {
		bottom: 7vh;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 100%;

		a {
			color: $color-white;
			margin: 0 5px;
			text-decoration: none;
		}
	}
}

#top {
	position: absolute;
	top: 0;
}

.projects__loader {
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: .5s opacity ease-out;
	width: 300px;
	z-index: 102;
}