.home {
	background: $color-black;
	height: 800vh;

	@include tablet {
		height: 600vh;
	}

	#intro-indicator {
		position: absolute;
		top: 460px;
	}

	.intro__bg {
		background-color: transparent;
		height: 100vh;
		position: fixed;
		width: 100vw;
		z-index: 8;

		.intro__image {
			height: 110vh;
			position: fixed;
			right: -25%;
			top: 0;
			transform-origin: 50% 0;
			transition: opacity .5s ease-out;
			z-index: 0;

			@include tablet {
				height: auto;
				right: 0;
				width: 100vw;
			}
		}

		.intro__gradient {
			background: rgba(222,53,16,1);
			background: -moz-linear-gradient(top, rgba(222,53,16,1) 0%, rgba(222,53,16,1) 20%, rgba(231,203,174,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,53,16,1)), color-stop(20%, rgba(222,53,16,1)), color-stop(100%, rgba(231,203,174,1)));
			background: -webkit-linear-gradient(top, rgba(222,53,16,1) 0%, rgba(222,53,16,1) 20%, rgba(231,203,174,1) 100%);
			background: -o-linear-gradient(top, rgba(222,53,16,1) 0%, rgba(222,53,16,1) 20%, rgba(231,203,174,1) 100%);
			background: -ms-linear-gradient(top, rgba(222,53,16,1) 0%, rgba(222,53,16,1) 20%, rgba(231,203,174,1) 100%);
			background: linear-gradient(to bottom, rgba(222,53,16,1) 0%, rgba(222,53,16,1) 20%, rgba(231,203,174,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de3510', endColorstr='#e7cbae', GradientType=0 );
			height: 150vh;
		    mix-blend-mode: multiply;
			position: fixed;
			top: 0;
			transform-origin: 50% 0;
			width: 100vw;
		}
	}


	.intro {
		@extend %transition-long;
		height: 100vh;
		position: fixed;
		transition-property: opacity;
		width: 100vw;
		z-index: 8;

		.intro__container {
			height: 100vh;
			position: relative;
			width: 100vw;
			z-index: 1;
		}

		.intro__text {
			backface-visibility: hidden;
			font-family: $druk-condensed;
			font-weight: bold;
			left: 50%;
			line-height: 1.5em;
			max-width: 400px;
			position: absolute;
			top: 50%;
			text-align: justify;
		    -moz-text-align-last: center;
		    text-align-last: center;
			transform: translate3d(-50%, -50%, 0) scale(30);
			transition: opacity 0.7s ease-out, transform 0.3s ease-out;
			-webkit-font-smoothing: antialiased;

			p {
				color: transparent;
				-webkit-text-stroke-width: .01em;
				-webkit-text-stroke-color: white;
			}
		}

	}

	.intro__scroll-down {
		bottom: 5vh;
		color: $color-white;
		cursor: pointer;
		font-family: $druk-wide;
		font-size: .7em;
		left: 50%;
		letter-spacing: 0.1em;
		position: fixed;
		text-align: center;
		transform: translateX(-50%);
		transition: opacity 1s ease-out;
		width: 100%;
		z-index: 99;

		@include tablet {
			bottom: 50px;
			left: 0;
			font-size: 0.8em;
		}
	}

	.blotch {
		background: blue;
		border-radius: 50%;
		box-shadow: 0px 0px 18vw 13vw blue;
		width: 20vw;
		display: block;
		height: 30vh;
		left: 0;
		opacity: .8;
		position: absolute;
		top: 370vh;
		z-index: 8;

		@include tablet {
			box-shadow: 0px 0px 34vw 13vw blue;
			width: 10vw;
		}
	}

	#about-indicator {
		position: absolute;
		top: 3700px;
	}

	.about {
		@extend %transition-long;
		background: transparent;
		height: 100vh;
		position: fixed;
		top: 0;
		transition-property: opacity;
		width: 100vw;
		z-index: 98; 

		.about-container {
			height: 100vh;
			font-size: 10vw;
			left: 50%;
			line-height: .9;
			position: absolute;
			top: 50%;
			overflow: hidden;
			padding: 30vh 0 0 20vw;
			text-align: left;
			transform: translate(-50%, -50%);
			width: 100vw;
			z-index: 1;

			@include tablet {
				font-size: 80px;
				padding: 0 0 0 20vw;
			}

			span {
				position: relative;
				z-index: 100;
			}
		}

		.about__text {
			color: $color-white;
			display: inline-block;
			font-family: $druk-condensed;
			text-align: left;
			text-decoration: none;
			text-transform: uppercase;

			p {
				margin: 0;
			}

			.about__text-main {
				em {
					cursor: default;
					font-style: normal;
				}
			}
		}

	}

	#projects-indicator {
		position: absolute;
		top: 3600px;
	}

	.projects {
		@extend %transition-long;
		background: $color-black;
		height: 100vh;
		position: fixed;
		transition-property: opacity;
		width: 100vw;
		z-index: 5;

		.projects__container {
			@extend %transition-long;
			background: $color-black;
			height: 100vh;
			overflow: hidden;
			position: relative;
			text-align: center;
			top: 0;
			transition-property: opacity;
			width: 100vw;
			z-index: 1;

			.projects__marquee-box {
				height: 4vh;
				overflow: hidden;

				@include tablet {
					height: 8vh;
				}

				.projects__marquee {
					z-index: 1;
				}

				&:nth-of-type(1) {
					.projects__marquee {
						top: 20vh;
						animation: marquee 25s linear infinite;

						@include tablet {
							top: 10vh;
						}
						a {
							float: left;
						}
					}
				 }

				 &:nth-of-type(2) {
					 .projects__marquee {
						top: 24vh;
						 animation: marqueeRight 19s linear infinite;

						  @include tablet {
							top: 18vh;
						}
						a {
							float: right;
						}
					 }
				 }

				 &:nth-of-type(3) {
					 .projects__marquee {
						top: 28vh;

						animation: marquee 18s linear infinite;

						@include tablet {
							top: 26vh;
						}
						a {
							float: left;
						}
					 }
				 }

				 &:nth-of-type(4) {
					 .projects__marquee {
						top: 32vh;
						animation: marqueeRight 22s linear infinite;

						@include tablet {
							top: 34vh;
						}
						a {
							float: right;
						}
					 }
				 }

				 &:nth-of-type(5) {
					 .projects__marquee {
						top: 36vh;
						animation: marquee 28s linear infinite;

						@include tablet {
							top: 42vh;
						}
						a {
							float: left;
						}
					 }
				 }

				 &:nth-of-type(6) {
					 .projects__marquee {
						top: 40vh;
						animation: marqueeRight 20s linear infinite;

						@include tablet {
							top: 50vh;
						}
						a {
							float: right;
						}
					 }
				 }

				 &:nth-of-type(7) {
					 .projects__marquee {
						top: 44vh;
						animation: marquee 15s linear infinite;

						@include tablet {
							top: 58vh;
						}
						a {
							float: left;
						}
					 }
				 }

				 &:nth-of-type(8) {
					 .projects__marquee {
						top: 48vh;
						animation: marqueeRight 27s linear infinite;

						@include tablet {
							top: 66vh;
						}
						a {
							float: right;
						}
					 }
				 }

				 &:nth-of-type(9) {
					 .projects__marquee {
						top: 52vh;
						animation: marquee 16s linear infinite;

						@include tablet {
							top: 74vh;
						}
						a {
							float: left;
						}
					 }
				 }

				 &:nth-of-type(10) {
					 .projects__marquee {
						top: 56vh;
						animation: marqueeRight 30s linear infinite;

						@include tablet {
							top: 82vh;
						}

						a {
							float: right;
						}
					 }
				 }
			}

			.projects__marquee {
				color: $color-black;
				display: block;
				font-family: $druk-wide;
				font-size: 4vh;
				overflow: hidden;
				position: absolute;
				text-shadow:
			   -1px -1px 0 $color-white,
			    1px -1px 0 $color-white,
			    -1px 1px 0 $color-white,
			     1px 1px 0 $color-white;
				 height: 4vh;
				overflow: hidden;
				  width: 200vw;

				  @include tablet {
					  font-size: 8vh;
					height: 8vh;
				  }


				a {
					@extend %transition-long;
					transition-property: color;
					color: $color-black;
					cursor: pointer;
					text-decoration: none;
					width: 100vw;

					&:hover {
						color: $color-white;
					}
				}
			}
		}

		.filter-trigger {
			bottom: 15vh;
			color: $color-white;
			cursor: pointer;
			font-family: $druk-wide;
			font-size: 1em;
			left: 50%;
			position: fixed;
			transform: translateX(-50%);
			width: 100%;
			z-index: 100;

			@include tablet {
				bottom: 30px;

			}
		}

		.projects__bg {
			@extend %transition-long;
			background-size: cover;
			background-position: 50% 50%;
			height: 100vh;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			transition-property: opacity;
			width: 100vw;
		}
	}

	.filter.modal {
		box-sizing: border-box;
		color: $color-white;
		left: 50%;
		position: fixed;
		max-width: 600px;
		padding: 30px;
		top: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		transition: opacity 1s ease-out;
		width: 90%;
		z-index: 200;


		h4 {
			font-family: $druk-wide;
			font-size: 1em;

			@include tablet {
				font-size: 1.5em;
			}
		}

		a {
			box-sizing: border-box;
			color: $color-white;
			display: inline-block;
			font-family: $druk-wide;
			font-size: .8em;
			line-height: 1.8;
			margin: 3px 7px;
			text-decoration: none;
			width: 100%;

			@include tablet {
				font-size: 1em;
				line-height: 1.2;
				margin: 8px 7px;
				width: auto;
			}
		}
	}

	.modal-mask {
		background: rgba(0,0,0,.8);
		height: 100vh;
		position: fixed;
		transition: opacity 1s ease-out;
		width: 100vw;
		z-index: 199;
	}

	.nav__white-rabbit.mobile-only {
		bottom: 23vh;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);

		img {
			width: 40px;
		}
	}

	.nav__socials.mobile-only {
		bottom: 7vh;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 100%;

		a {
			color: $color-white;
			margin: 0 5px;
			text-decoration: none;
		}
	}
}