
.contact {
	@extend %transition-long;
	height: 100vh;
	position: fixed;
	top: 0;
	transition-property: opacity;
	width: 100vw;
	z-index: 5;

	.contact__container {
		background: $color-black;
		height: 100vh;
		position: relative;
		text-align: center;
		width: 100vw;
		z-index: 1;
	}

	.contact__text-container {
		color: $color-black;
		font-family: $druk-wide;
		font-size: 7vw;
		left: 50%;
		line-height: 0em;
		position: absolute;
		text-shadow:
			-1px -1px 0 $color-white,
			1px -1px 0 $color-white,
			-1px 1px 0 $color-white,
				1px 1px 0 $color-white;
		top: 40%;
		transform: translate(-50%, -50%);
		width: 100%;

		@include tablet {
			font-size: 3em;
			top: 50%;
		}
	}

	.contact__email {
		color: $color-white;
		cursor: pointer;
		font-family: $druk-wide;
		font-size: 10vw;
		left: 50%;
		line-height: 1.1em;
		max-width: 200px;
		position: absolute;
		text-align: center;
		text-decoration: none;
		top: 40%;
		transform: translate(-50%, -50%);
		z-index: 2;

		@include tablet {
			font-size: 3.8em;
			top: 50%;
		}
	}
}

.mc_embed {
	transition: opacity .5s ease-out;
	transition-delay: 1s;
}

#mc_embed_signup {
	@extend %transition-long;
	background: transparent;
	bottom: 5%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition-property: opacity;
	width: 90%;
	z-index: 1;

	@include tablet {
		width: 60%;
	}

	.sign-up-cta {
		@extend %transition-long;
		bottom: 25vh;
		color: $color-white;
		font-family: $druk-wide;
		font-size: .8em;
		left: 50%;
		position: absolute;
		text-align: center;
		transform: translateX(-50%);
		transition-property: opacity;
		width: 100%;

		@include tablet {
			bottom: 20%;
			font-size: 1.4em;
			width: 80%;
		}

		span {
			border-bottom: 1px solid $color-white;
			cursor: pointer;
		}
	}

	.close-sign-up {
		color: $color-white;
		cursor: pointer;
		font-size: 3em;
		text-align: center;
	}

	.mc-field-group {
		width: 100%;

		input {
			background: $color-black;
			border: 0;
			border-bottom: 1px solid $color-white;
			color: $color-white;
			font-family: $druk-wide;
			font-size: 1.4em;
			text-align: center;

			&:focus {
				outline: 0;
			}
		}
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $color-white;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $color-white;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $color-white;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $color-white;
	}

	.button {
		@extend %transition-long;
		background-color: $color-black !important;
		border: 1px solid $color-white !important;
		border-radius: 0;
		color: $color-white !important;
		display: block !important;
		font-family: $druk-wide;
		margin: 0 auto !important;
		transition-property: background, color;

		@include tablet {
			display: inline-block !important;
			float: right;
		}

		&:hover {
			background-color: $color-white !important;
			color: $color-black !important;
		}
	}
}
