
.contact {
	@extend %transition-long;
	height: 100vh;
	position: fixed;
	top: 0;
	transition-property: opacity;
	width: 100vw;
	z-index: 5;

	.nav__white-rabbit.mobile-only {
		bottom: 15vh;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		z-index: 1;

		img {
			width: 40px;
		}
	}

	.nav__socials.mobile-only {
		bottom: 7vh;
		left: 50%;
		position: absolute;
		text-align: center;
		transform: translateX(-50%);
		width: 100%;
		z-index: 1;

		a {
			color: $color-white;
			margin: 0 5px;
			text-decoration: none;
		}
	}

	.contact__container {
		background: $color-black;
		height: 100vh;
		position: relative;
		text-align: center;
		width: 100vw;
		z-index: 1;
	}

	.contact__text-container {
		color: $color-black;
		font-family: $druk-wide;
		font-size: 7vw;
		left: 50%;
		line-height: 0em;
		position: absolute;
		text-shadow:
			-1px -1px 0 $color-white,
			1px -1px 0 $color-white,
			-1px 1px 0 $color-white,
				1px 1px 0 $color-white;
		top: 40%;
		transform: translate(-50%, -50%);
		width: 100%;

		@include tablet {
			font-size: 3em;
			top: 50%;
		}
	}

	.contact__email {
		color: $color-white;
		cursor: pointer;
		font-family: $druk-wide;
		font-size: 10vw;
		left: 50%;
		line-height: 1.1em;
		max-width: 200px;
		position: absolute;
		text-align: center;
		text-decoration: none;
		top: 40%;
		transform: translate(-50%, -50%);
		z-index: 2;

		@include tablet {
			font-size: 3.8em;
			top: 50%;
		}
	}
}
